<div data-role="view" data-title="Contacts" data-layout="main" data-model="APP.models.contacts" >
    <div id="form-contacts" data-role="content" class ="dsmimg" style="position: relative;">
    	<a id="commercial" data-role="button" style="border:none; background:transparent;text-align:right; position: absolute;top: 0vh; right:5%; width:80%;font-size:2em" data-bind="click: fetchTeam" data-id="2">Commercial</a>
        <a id="personal" data-role="button" style="border:none; background:transparent;text-align:left;position: absolute;top: 12vh; right:0%; width:85%;font-size:2em" data-bind="click: fetchTeam" data-id="3">Personal</a>
        <a id="life" data-role="button" style="border:none; background:transparent;text-align:left;position: absolute;top: 24vh; left:2%; width:80%;font-size:2em" data-bind="click: fetchTeam" data-id="4">Life</a>
        <a id="speciality" data-role="button" style="border:none; background:transparent;text-align:left;position: absolute;top: 36vh; left:2%; width:80%;font-size:2em" data-bind="click: fetchTeam" data-id="">Specialty</a>
        <a id="workerscomp" data-role="button" style="border:none; background:transparent;text-align:left;position: absolute;top: 48vh; right:0%; width:85%;font-size:2em" data-bind="click: fetchTeam" data-id="">Workers Comp</a>
        <a id="brokerage" data-role="button" style="border:none; background:transparent;text-align:right; position: absolute;top: 60vh; right:5%; width:80%;font-size:2em" data-bind="click: fetchTeam" data-id="">Brokerage</a>
        
    </div>
  
</div>